<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>The best <strong>cocktails</strong> in <strong>Milan</strong>!</h1>
    <p>Change your life and drink only the best.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">

<div class="cards">


    <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">

      <div class="card">


        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>


      </div>

  </div>
    <% end %>
</div>
</div>
