<div class="container">

<h2>Add a new dose</h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <p><%= f.association :ingredient, as: :select %></p>
  <p><%= f.input :description %></p>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>

</div>
